<!doctype html>
<html>
<head>
<title>Tanning Scheduler</title>
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style2.css') }}">

</head>
<body>
  <div class="banner">
    <div class="content">
      <h1>Your Tanning Scheduler</h1>
      <p>Time for some tan lines and good times!
      Register or log-in if you are a returning customer</p>
     <button onclick="location.href='/register'" type="button"> <span> </span>Sign Up </button>
      <button onclick="location.href='/login'" type="button" > <span> </span>Log In </button>
    </div>
  </div>
</body>
</html>