<!DOCTYPE html>
<html>
<head>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <title> Preferences </title>
</head>
<body>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
<h1>Please tell us your preferences</h1>
<form method="POST" action="/scheduler">
     <div class="mb-3">
        <label for="uvmin" class="style"> Minimum UV Index</label>
        <input type="number" name="uvmin" class="form-control" /> <br />
     </div>
     <div class="mb-3">
        <label for="uvmax" class="style"> Maximum UV Index</label>
        <input type="number" name="uvmax" class="form-control" /> <br />
     </div>
    <div class="mb-3">
        <label for="schedule" class="style"> Upload .ics file </label>
        <input id ="schedule" type="file" name="schedule" accept=".ics" class="form-label" /> <br />
    </div>
    <input class="btn btn-light" type="submit" value="Submit">

</form>
<!--
<div class="mb-3">
    <label for="zipcode" class="style">Update your zipcode<label>
    <input type="number" name="zipcode" class="form-control" /> <br />
        make this a different button, post request to some page.
</div>
-->
</body>
</html>