<!DOCTYPE html>
<html>
<head>
    <title>Create an account!</title>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style5login.css') }}">
</head>
    <body>
        <form action="POST">
            <div class="title"> Registration </div>
                <div class="container">
                    <div class="sidetext">
                        <h3>Welcome Back</h3>
                    </div>
                    <div>
                        <h4>Log in</h4>
                        <p>to your account</p>
                    </div>


                </div>
        </form>
    </body>
</html>