<!DOCTYPE html>
<html>
<head>
    <title>Create an account!</title>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style3.css') }}">
</head>
    <body>

        <div class="container">
                <form action="POST" action="{{ url_for('register_user') }}">
                    <div class="title"> Registration </div>

                    <div class="user-details">
                        <div class="input-box">
                        <label> Enter your name: </label>
                        <input type="name" name="name" placeholder="Put in your name" required/>
                        </div>

                        <div class="input-box">
                        <label> Enter your email: </label>
                        <input type="email" name="email" placeholder="Put in your email" required/>
                        </div>

                        <div class="input-box">
                        <label> Enter your password: </label>
                        <input type="password" name="password" placeholder="Put in your password" required/>
                        </div>

                        <div class="input-box">
                        <label> Enter your zipcode: </label>
                        <input type="zipcode"  pattern="[0-9]{5}" name="zipcode" placeholder="Put in your zipcode"/>
                        </div>

                        <input type="submit" value="Register" />

                    </div>
                </form>
        </div>
    </body>
</html>